.diary {
	.diary-content {
		position: relative;
		left: 50%;
		top: 40px;
		.timeline-left {
			.ant-timeline-item-content {
				position: relative;
		    left: -7%;
			}
		}
	}
	.calendar-area {
		ul {
			height: inherit;
		}
	}
}
.events {
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.events li {
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.events li span {
  vertical-align: middle;
}

.events li span:first-child {
  font-size: 9px;
  margin-right: 4px;
}

.event-warning {
  color: #fac450;
}

.event-normal {
  color: #108ee9;
}

.event-error {
  color: #f50;
}

.notes-month {
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}
.calendar-desc {
	width: 80%;
	background: #D5BC98;
	margin: 0 auto;
	height: 200px;
	position: relative;
	top: 20px;
  border-radius: 2px;
	.calendar-desc-title {
		color: #fff;
	}
}
.result {
	.result-list {
		width: 80%;
		background: #D5BC98;
		margin: 0 auto;
		height: 500px;
		position: relative;
		top: 20px;
	  border-radius: 2px;
		.result-list-name {
			width: 100%;
			text-align: center;
			color: #fff;
		}
	}
	.result-content {
		height: 500px;
		line-height: 500px;
		text-align: center;
		font-size: 24px;
	}
}
.myplan {
  .plan-title {
    height: 150px;
    text-align: center; 
    .plan-title-name {
      color: #5B595B;
      height: 60px;
      line-height: 60px;
      font-size: 24px;
    }
    .plan-title-desc {
      width: 50%;
      position: relative;
      left: 25%;
      font-size: 18px;
    }
  }
  .myplan-item-none {
    height: 100px;
    line-height: 100px;
    text-align: center;
  }
  .myplan-list {
    width: 60%;
    margin: 0 auto;
    .myplan-item {
      margin-bottom: 30px;
    }
    .myplan-name {
      cursor: pointer;
      width: 80px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color: #fff;
    }
    .myplan-name-basic {
      background: #e5a755;
    }
    .myplan-item-basic {
      border: 2px #e5a755 solid;
      li {
        padding-left: 30px;
      }
      .myplan-basic-li {
        color: #e5a755;
        margin-right: 10px;
      }
    }
    .myplan-item-medicine {
      border: 2px #49b491 solid;
    }
    .myplan-name-medicine {
       background: #49b491; 
    }
    .myplan-item-share {
      border: 2px #a8d4cc solid;
    }
    .myplan-name-share {
       background: #a8d4cc; 
    }
    .myplan-item-commonweal {
      border: 2px #9db4c6 solid;
    }
    .myplan-name-commonweal {
       background: #9db4c6;
    }
  }
}
.modle-add-task {
  margin-bottom: 20px;
}
.record {
  background: #f2f6f9;
  height: 100%;
  .record-area {
    width: 80%;
    background: #fff;
    position: relative;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px #eee solid;
    .record-table {
      width: 90%;
      margin: 20px auto;
      .record-secen-add {
        margin-top: 20px;
      }
    }
    .record-list {
      height: 500px;
      background: #f7f7f7;
      border-radius: 5px;
      margin: 20px;
      .record-list-current {
        font-size: 18px;
        height: 100px;
        line-height: 100px;
        text-align: center;
      }
      .record-list-items {
        height: 350px;
        border: 1px #eee solid;
        margin: 20px;
        .record-list-item {
          cursor: pointer;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border-bottom: 1px #eee solid;
        }
        .record-list-item:hover {
          background: #f2f6f9;
        }
      }
    }
  }
}