.diary {
	.diary-content {
		position: relative;
		left: 50%;
		top: 40px;
		.timeline-left {
			.ant-timeline-item-content {
				position: relative;
		    left: -7%;
			}
		}
	}
	.calendar-area {
		ul {
			height: inherit;
		}
	}
}
.events {
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.events li {
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.events li span {
  vertical-align: middle;
}

.events li span:first-child {
  font-size: 9px;
  margin-right: 4px;
}

.event-warning {
  color: #fac450;
}

.event-normal {
  color: #108ee9;
}

.event-error {
  color: #f50;
}

.notes-month {
  text-align: center;
}
.notes-month section {
  font-size: 28px;
}
.calendar-desc {
	width: 80%;
	background: #D5BC98;
	margin: 0 auto;
	height: 200px;
	position: relative;
	top: 20px;
  border-radius: 2px;
	.calendar-desc-title {
		color: #fff;
	}
}
.result {
	.result-list {
		width: 80%;
		background: #D5BC98;
		margin: 0 auto;
		height: 500px;
		position: relative;
		top: 20px;
	  border-radius: 2px;
		.result-list-name {
			color: #fff;
		}
	}
}