.mark {
	.mark-area {
		height: 550px;
		width: 80%;
		position: relative;
		left: 10%;
		top: 20px;
		background: #eee;
		border-radius: 5px;
		text-align: center;
		.mark-button {
			width: 150px;
			height: 150px;
			border-radius: 150px;
			background: #f6af5f;
			margin: 0 auto;
	    position: relative;
	    top: 30px;
      cursor: pointer;
	    font-size: 24px;
	    color: #fff;
			line-height: 150px;
	    i {
	    	font-size: 60px;
	    }
	    .anticon::before {
	    	position: relative;
	    	top: 15px;
	    }
		}
		.mark-rule {
			position: relative;
			top: 100px;
			height: 200px;
		}
	}
	form {
		width: 60%;
    position: relative;
    left: 20%;
    top: 20px;
    text-align: center;
	}
	.mark-task-line {
		margin-top: 20px;
		.mark-task-title {
			text-align: right;
			.mark-task-name {
				display: inline-block;
				border: 1px #eee solid;
				border-radius: 10px;
		    padding: 2px 15px;
			}
		}
		.mark-task-hr {
	    border-bottom: 1px #eee solid;
	    margin-top: 14px;
		}
	}
	.mark-task-area {
		height: 100px;
	}
}