@keyframes descHeader
{
  from {
    height: 120px;
  }
  to {
    height: 60px;
  }
}
@keyframes descHeaderMenu
{
  from {}
  to {
    line-height: 60px;
  }
}
html , body {
  font-size: 14px!important;
}
.main {
  height: 100%;
  .desc-home-main {
    height: initial;
  }
  .home-main {
    .desc-header {
      animation: descHeader 1s ease forwards;
      -moz-animation: descHeader 1s ease forwards;
      -webkit-animation: descHeader 1s ease forwards;
      -o-animation: descHeader 1s ease forwards;
    }
    .header {
      .header-row {
        height: inherit;
        position: relative;
        .header-row-logo {
          height: inherit;
          text-align: center;
          img {
            height: inherit;
          }
        }
        .desc-header-menu {
          animation: descHeaderMenu 1s ease forwards;
          -moz-animation: descHeaderMenu 1s ease forwards;
          -webkit-animation: descHeaderMenu 1s ease forwards;
          -o-animation: descHeaderMenu 1s ease forwards;
        }
        .header-menu {
          width: 100%;
          text-align: right;
          position: relative;
          float: right;
          font-size: 20px;
          span {
            padding-right: 40px;
            color: #266E6B;
            cursor: pointer;
          }
          .current-page {
            color: #fff;
          }
        }
      }
    }
  }
  .main-content {
    height: 100%;
    .props-content {
      width: 80%;
      margin: 0 auto;
    }
  }
}