.project-desc {
  height: inherit;
  background: #F2F2F2;
  .props-content {
    height: inherit;
    .desc-row {
      height: inherit;
      padding-top: 10px;
    }
    .content-area {
      background: #fff;
      height: inherit;
    }
  }
}