.home {
  height: 100%;
  .home-main {
    height: 70%;
    .header {
      height: 120px;
      .header-row {
        height: 100px;
        position: relative;
        top: 20px;
        .header-row-logo {
          height: inherit;
          text-align: center;
          img {
            height: inherit;
          }
        }
        .header-menu {
          width: 50%;
          position: relative;
          float: right;
          line-height: 100px;
          font-size: 20px;
          span {
            padding-right: 40px;
            color: #266E6B;
            cursor: pointer;
          }
          .current-page {
            color: #fff;
          }
        }
      }
    }
  }
  .project {
    height: 550px;
    margin-top: -150px;
    .project-content {
      height: 280px;
      width: 60%;
      position: relative;
      left: 20%;
      border: 7px #CDFFCC solid;
      img {
        height: 330px;
        margin-top: -50px;
      }
    }
  }
}