.home {
  height: 100%;
  .project {
    margin-bottom: 2rem;
    .project-content {
      margin: 0 auto;
      img {
        width: 100%;
      }
    }
  }
  .logo-area {
    text-align: center;
    img {
      width: 20%;
    }
  }
  .skill-area {
    .skill-list {
      width: 80%;
      margin: 0 auto;
      margin-top: 2rem;
      .skill-row {
        .skill-img {
          float: left;
          text-align: center;
          cursor: pointer;
          margin-bottom: 40px;
        }
        .skill-name {
          height: 30px;
          line-height: 30px;
          color: #149B9B;
        }
      }
    }
  }
  .about-us {
    margin-top: 2rem;
    .about-us-area {
      height: inherit;
      .about-us-content {
        height: 300px;
        .us-content-row {
          height: inherit;
          .us-content-img {
            position: relative;
            top: 28%;
            text-align: right;
            img {
              height: 150px;
              width: 100px;
            }
          }
          .us-content-introduce {
            position: relative;
            top: 28%;
            .us-content-detail {
              margin: 0 auto;
              width: 80%;
              color: #fff;
              .us-content-name {
                font-size: 24px;
                color: #149B9B;
              }
            }
          }
        }
      }
    }
    .about-us-arrow {
      height: inherit;
      font-size: 50px;
      line-height: 300px;
      text-align: center;
      i {
        cursor: pointer;
      }
    }
    .about-us-disable {
      color: #999999;
    }
  }
  .site-about {
    margin-bottom: 50px;
    .site-about-area {
      width: 75%;
      margin: 0 auto;
      margin-top: 100px;
      .stite-about-title {
        height: 30px;
        line-height: 30px;
        font-size: 16px;
        font-weight: bold;
      }
      .site-about-content {
        height: 30px;
        line-height: 30px;
        color: #999999;
        cursor: pointer;
      }
      .site-code {
        text-align: right;
        img {
          height: 150px;
        }
        .site-code-area {
          width: 60%;
          text-align: center;
          margin: 0 auto;
        }
      }
    }
  }
  .site-copyright { 
    width: 75%;
    margin: 0 auto;
    height: 40px;
    border-top: 1px #999 solid;
    .site-copyright-content {
      text-align: center;
      color: #999999;
      height: inherit;
    }
  }
}

@media screen and (min-width: 1024px) {
  .home-main {
    height: 70%;
    .header {
      height: 120px;
    }
    .header-menu {
      line-height: 100px;
    }
  } 
  .project {
    .project-content {
      width: 60%;
      img {
        margin-top: -250px;
      }
    }
  }
  .skill-img { 
    width: 33.3333%;
    img {
      width: 80%;
    }
  }
  .skill-name {
    font-size: 20px;
  }
  .about-us-mobile {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .home-main {
    height: 50%;
    .header {
      height: 120px;
    }
    .header-menu {
      line-height: 100px;
    }
  } 
  .project {
    .project-content {
      width: 70%;
      img {
        margin-top: -150px;
      }
    }
  }
  .skill-img { 
    width: 50%;
    img {
      width: 80%;
    }
  }
  .skill-name {
    font-size: 16px;
  }
  .about-us-mobile {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .home-main {
    height: 35%;
    .header {
      height: 60px;
    }
    .header-menu {
      line-height: 60px;
    }
  } 
  .project {
    .project-content {
      width: 80%
      img {
        margin-top: -100px;
      }
    }
  }
  .skill-img { 
    width: 100%;
    img {
      width: 80%;
    }
  }
  .skill-name {
    font-size: 18px;
  }
  .about-us {
    .about-us-arrow {
      display: none;
    }
    .about-us-content {
      width: 90%;
      position: left;
      left: 5%;
    }
    .about-us-mobile {
      display: none;
    }
  }
}
@media screen and (max-width: 767px) {
  .home-main {
    height: 35%;
    .header {
      height: 60px;
    }
    .header-menu {
      line-height: 60px;
      .mobile-item {
        display: none;  
      }
      span {
        float: right;
        font-size: 16px;
      }
    }
  } 
  .project {
    .project-content {
      width: 80%;
      img {
        margin-top: -70px;
      }
    }
  }
  .device-about {
    display: none;
  }
  .site-code {
    width: 100%;
    text-align: center;
  }
  .skill-img { 
    width: 100%;
    img {
      width: 80%;
    }
  }
  .skill-name {
    font-size: 14px;
  }
  .about-us {
    .about-us-arrow {
      display: none;
    }
    .about-us-content {
      width: 90%;
      height: 200px!important;
      position: left;
      left: 5%;
      .us-content-introduce {
        display: none;
      }
    }
    .about-us-pc {
      display: none;
    }
    .about-us-mobile {
      display: block;
      .ant-carousel {
        width: 65%;
        position: relative;
        left: 26%;
        margin-top: 20%;
      }
      .us-caousel-detail {
        height: inherit;
        .us-caousel-row {
          width: 100%;
          img {
            width: 35%;
            float: right;
            margin-right: 2px;
          }
          .us-content-name {
            color: #149B9B;
            font-size: 18px;
          }
          .us-content-position {
            color: #fff;
            font-size: 14px;
          }
        }
      }
    }
  }
}