.solution {
	background: #f2f6f9;
	.solution-content {
		width: 80%;
		margin: 0 auto;
	}
	.cure-main {
    padding: 40px;
		height: 500px;
		.cure-image {
			height: 300px;
	    border: 1px #eee solid;
			background: #F2F2F2;
			img {
				height: 300px;
				width: 100%;
			}
			.cure-image-list {
				height: 100px;
				width: 100%;
				.cure-image-list-item {
					height: 100%;
					width: 22%;
					margin-left: 10px;
					img {
						width: 100%;
						height: 100%;
					}
					img:hover {
						border: 2px #f40 solid;
					}
				}
			}
		}
		.cure-main-desc {
			position: relative;
			left: 10%;
			width: 80%;
			height: 360px;
			.cure-main-name {
				font-size: 24px;
			}
			.cure-selected-descript {
		    border: 1px #eee dashed;
		    height: 90px;
		    margin-bottom: 10px;
		    margin-top: 10px;
		    .cure-selected-descript-detail {
		    	padding-left: 14px;
		    }
			}
			.cure-join {
		    position: absolute;
				bottom: 0;
				margin-bottom: 60px;
			}
		}
		.cure-main-content {
			height: 60px;
		}
		.cure-main-items {
			margin-bottom: 10px;
			.cure-main-item {
				span {
			    border: 1px solid #eee;
	        border-radius: 5px;
			    padding: 5px 10px;
			    margin-right: 20px;
			    display: inline-block;
			    margin-top: 10px;
	        cursor: pointer;
				}
				.cure-item-selected {
					border: 1px #F40 solid!important;
					color: #F40;
				}
			}
		}
		.cure-main-price {
			height: 50px;
			line-height: 44px;
			background: #FFF9F5;
			.cure-main-price-title {
				padding-left: 10px;
			}
			.cure-main-price-mark {
				font-size: 24px;
				color: #F40;
				padding-right: 10px;
				padding-left: 10px;
			}
			.cure-main-price-value {
				font-size: 20px;
				color: #F40;
			}
		}
	}
	.cure-detail {
		height: 300px;
		padding: 0px 40px;
		.cure-detail-content {
			height: inherit;
			width: inherit;
			border: 1px #F2F2F2 solid;
			.ant-tabs-nav-container {
				background: #F2F2F2;
			}
			.ant-tabs-tabpane {
				padding: 20px;
			}
		}
	}
}
.flow {
	.flow-mark {
		width: 60%;
		position: relative;
		left: 20%;
		height: 80px;
		.ant-steps {
			margin-top: 20px;
		}
	}
	.flow-content {
		width: 50%;
		position: relative;
		left: 25%;
		i {
	    color: #108ee9;
		}
		.flow-tip {
			padding-bottom: 20px;
		}
		.next-button {
	    float: right;
		}
	}
}