.flow-process {
  height: 1px;
  position: fixed;
  top: 4rem!important;
  background-color: #fff; 
  .am-progress-bar {
    border: 1px solid #5A4344;
  }
}
.header {
  height: 4rem;
  background: #e4729c;
  line-height: 4rem;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.flow-header {
  display: flex;
  .header-back {
    width: 15%;
    z-index: 1000;
    svg {
      margin-top: .6rem;
    }
  }
  .header-content {
    width: 100%;
    position: absolute;
  }
}
.flow-content {
  height: 70rem;
  background: #F8F8F9;
  padding-top: 4rem;
}
.flow-button {
  span {
    color: #e4729c;
  }
}
.flow {
  .am-list-item .am-list-line .am-list-extra {
    text-align: left;
  }
  .am-list-item .am-list-line .am-list-content {
    white-space: normal;
    font-size: 1.2rem;
  }
}
.flow-button:before {
  border: 2px solid #e4729c!important;
}
.module-button {
  background: #EC3160;
}
.modal-select-button {
  .module-button {
    background: #e4729c;
  }
  .module-button:before {
    border: 2px solid #e4729c!important;
  }
  .am-list-body {
    overflow: scroll;
  }
}
.result {
  .result-list {
    padding-top: 4rem;
  }
  .risk {
    background: #E0DCD0;
    opacity: 0.7;
    .am-flexbox .am-flexbox-item {
      line-height: 1.7rem;
      color: #474648;
    }
    .am-flexbox {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .result-content {
      .table-title {
        font-size: 1.5rem;
      }
      .table-item {
        font-size: 1.2rem;
      }
      .table-item-order {
        text-decoration: underline;
        color: #EC3160!important;
      }
    }
  }
  .physical {
    background: #E9DBD7;
    opacity: 0.7;
    .body-data {
      margin-bottom: 2rem;
      height: 20rem;
      .line-area {
        height: inherit;
        .line-list {
          height: 2rem;
          text-align: right;
          span {
            display: inline-block;
            border-bottom: 1px #797979 solid;
          }
        }
      }
      .line-content {
        height: inherit;
        .line-content-list {
          height: 2rem;
          line-height: 2rem;
          color: #474648;
          font-size: 1.2rem;
        }
      }
    }
    .descript {
      .descript-title {
        width: 90%;
        margin: 0 auto;
        height: 2rem;
        line-height: 2rem;
        font-size: 1.4rem;
        color: #EC3160;
        margin-bottom: 2rem;
      }
      .descript-tip {
        width: 90%;
        margin: 0 auto;
        font-size: 1.2rem;
        padding-bottom: 2rem;
        .target-list {
          color: #474648;
          margin-bottom: 1rem;
          .target-flag {
            width: 6rem;
            height: 1rem;
            margin-top: 1rem;
          }
        }
        .target-content {
          color: #474648;
        }
      }
      img {
        width: 1.5rem;
        position: relative;
        top: 0.2rem;
      }
    }
  }
  .predict {
    background: #E9E7DE;
    opacity: 0.7;
    .predict-list {
      width: 90%;
      margin: 0 auto;
      padding-bottom: 2rem;
      .predict-list-title {
        font-size: 1.4rem;
      }
      .predict-list-rule {
        margin-top: 1rem;
        .rule-position {
          display: inline-block;
        }
        .rule-flag {
          span {
            width: 3.5rem;
            height: 1rem;
            display: inline-block;
          }
        }
        .rule-flag-name {
          .flag-scale {
            width: 3.5rem;
            display: inline-block;
            color: #6B6B6B;
          }
        }
        .predict-active {
          margin-top: 2rem;
          font-size: 1.2rem;
          span {
            text-decoration: underline;
            padding-right: 1rem;
            color: #FE5A78;
          }
        }
      }
      .predict-content {
        color: #FE5A78;
        line-height: 2rem;
        font-size: 1.2rem;
      }
    }
  }
  .disease {
    background: #E9DBD7;
    opacity: 0.7;
    .disease-area {
      width: 90%;
      margin: 0 auto;
      .disease-list {
        height: 7rem;
        background: #C0595C;
        .disease-name {
          width: 0;
          height: 0;
          border-top: 7rem solid #D0D1C3;
          border-right: 6rem solid transparent;
          span {
            margin-top: -5rem;
            position: absolute;
            padding-left: 0.6rem;
            font-size: 1.4rem;
            font-weight: bold;
          }
        }
        .disease-descript {
          line-height: 2rem;
          padding-right: 1rem;
          font-size: 1.2rem;
        }
      }
      .disease-active {
        height: 7rem;
        background: #EBCFCB;
        .active-list {
          text-align: center;
          font-size: 1.2rem;
        }
      }
    }
  }
  .warning {
    background: #E0DCD0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    .warning-area {
      border-top-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
      width: 90%;
      background: #E7D5C9;
      margin: 0 auto;
      height: 8rem;
      .warning-img {
        text-align: center;
        margin-top: 2rem;
      }
      img {
        line-height: 6rem;
        width: 4rem;
      }
      .warning-content {
        color: #E38290;
        margin-top: 2rem;
        padding-right: 1rem;
        font-size: 1.2rem;
        line-height: 1.6rem;
      }
    }
  }
  .title-area {
    margin-bottom: 2rem;
    .title-area-content {
      width: 90%;
      margin: 0 auto;
      span {
        display: inline-block;
        font-size: 1.5rem;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        color: #EC3160;
        font-weight: bold;
        border-bottom: 0.3rem #EC3160 solid;
      }
    }
  }
}