.header {
  height: 4rem;
  background: #199ed8;
  line-height: 4rem;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.login {
  .login-button {
    width: 90%;
    margin: 2rem auto;
  }
  .login-button-disabel {
    background: #DCDCDC;
    width: 90%;
    margin: 2rem auto;
    span {
      color: #fff;
    }
  }
}
.flow-header {
  display: flex;
  .header-back {
    width: 15%;
    z-index: 1000;
    svg {
      margin-top: .6rem;
    }
  }
  .header-content {
    width: 100%;
    position: absolute;
  }
  .register-content {
    width: 100%;
    text-align: right;
    padding-right: 2rem;
    z-index: 1000;
    span {
      display: inline-block;
      height: 100%;
    }
  }
}
.flow {
  .agree-content {
    label {
      color: rgb(51, 163, 244);
      padding-right: 1rem;
    }
  }
}
.item-title {
  height: 3rem;
  background: #eeeeee;
  line-height: 3rem;
  padding-left: 1.2rem;
  color: rgb(51, 163, 244);
}
.tab-content {
  height: 70rem;
  background: #F8F8F9;
  padding-top: 4rem;
}
.home {
  .pro-list {
    .pro-carousel {
      img {
        width: 100%;
      }
    }
    .insurance-list {
      background: #FFFFFF;
    }
    .insurance-img {
      padding: 1rem 1rem;
      img {
        width: 100%;
      }
    }
    .insurance-info {
      border-bottom: 1px #ddd solid;
    }
    .insurance-intr {
      padding: 1rem 1rem;
      margin-left: 0px;
      .insurance-title {
        height: 2rem;
        line-height: 2rem;
        font-size: 1.4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .insurance-item {
        height: 1.8rem;
        line-height: 1.8rem;
        color: rgb(148, 148, 148);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .insurance-item-title {
          width: 5rem;
          display: inline-block;
        }
      }
    }
    .am-flexbox.am-flexbox-align-middle {
      align-items: flex-start;
    }
  }
}
.intr {
  .intr-block {
    background: #FFFFFF;
    width: 85%;
    position: relative;
    top: 2rem;
    margin: 0 auto;
    padding: 2rem 1rem;
    border: 1px #ddd solid;
    border-radius: 1rem;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 0px #eee;
    .intr-key {
      height: 2.4rem;
      line-height: 2rem;
      font-size: 1.5rem;
    }
    .intr-value {
      line-height: 2rem;
      color: #979797;
    }
  }
}
.policy-list {
  .policy-tabs {
    height: 4rem;
    line-height: 4rem;
    .policy-info {
      text-align: center;
      border: 1px #ddd solid;
      background: #FFFFFF;
      .policy-done {
        border-left: 1px #ddd solid;
      }
    }
  }
  .policy-area {
    .policy-order {
      width: 85%;
      margin: 0 auto;
      margin-top: 2rem;
      background: #F8F7FC;
      border: 1px #ddd solid;
      border-radius: 1rem;
      .order-title {
        border-bottom: 1px #ddd solid;
        border-bottom: 1px solid #ddd;
        background: #fff;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background: #FFFFFF;
        padding: 1rem;
        .order-title-name {
          font-size: 1.4rem;
          height: 2.4rem;
          line-height: 2.4rem;
          padding-left: 1rem;
          color: rgb(51, 163, 244);
        }
        .order-title-intr {
          height: 2rem;
          line-height: 2rem;
          .order-title-content {
            display: inline-block;
            width: 80%;
            padding-left: 1rem;
            color: #949494;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
      .order-content {
        padding: 1rem;
        .order-item {
          height: 2rem;
          line-height: 2rem;
          padding-left: 1rem;
          color: #C9AB84;
        }
      }
    }
  }
}
.my {
  .my-area {
    height: 70rem;
    background: #f8f8f9;
  }
  .my-list-certificate {
    .am-list-extra {
      color: #f90!important;
    }
  }
  .my-intr {
    height: 20rem;
    padding: 1rem;
    background: #199ed8;
    .my-intr-title {
      padding: 1rem;
      text-align: center;
      margin-top: 4rem;
      img {
        border-radius: 100px;
        width: 5rem;
        height: 5rem;
      }
      .my-intr-title-item {
        height: 2.5rem;
        line-height: 2.5rem;
        padding-left: 2rem;
      }
    }
    .my-intr-info {
      padding: 1rem;
      height: 7rem;
      line-height: 2rem;
      text-align: center;
      img {
        height: 1.5rem;
        margin-top: 0.3rem; 
      }
      span {
        vertical-align: top;
        padding-left: 1rem;
      }
    }
  } 
  .my-block {
    width: 92%;
    margin: 0 auto;
    background: #FFFFFF;
    padding: 0rem 1rem;
    margin-top: 2rem;
    .my-block-item {
      height: 4rem;
      padding: 1rem;
      line-height: 2rem;
      .my-block-item-name {
        display: inline-block;
        width: 40%;
      }
      .my-block-item-value {
        color: #FF9900;
      }
    }
  }
}
.img-picker {
  .am-image-picker-list {
    padding: 8px;
  }
}