.header {
  height: 4rem;
  background: #199ed8;
  line-height: 4rem;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.item-title {
  height: 3rem;
  background: #eeeeee;
  line-height: 3rem;
  padding-left: 1.2rem;
}
.home {
  .pro-list {
    height: 70rem;
    background: #fff;
    padding-top: 4rem;
    .pro-carousel {
      img {
        width: 100%;
      }
    }
    .insurance-img {
      padding: 1rem 1rem;
      img {
        width: 100%;
      }
    }
    .insurance-info {
      border-bottom: 1px rgb(148, 148, 148) solid;
    }
    .insurance-intr {
      padding: 1rem 1rem;
      margin-left: 0px;
      .insurance-title {
        height: 2rem;
        line-height: 2rem;
        font-size: 1.4rem;
      }
      .insurance-item {
        height: 2rem;
        line-height: 2rem;
        color: rgb(148, 148, 148);
        .insurance-item-title {
          width: 5rem;
          display: inline-block;
        }
      }
    }
    .am-flexbox.am-flexbox-align-middle {
      align-items: flex-start;
    }
  }
}