.left-menu {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
  .ant-menu {
    li {
      border-bottom: 1px #eee solid;
      border-left: 1px #eee solid;
    }
  }
  .horizontal {
    background: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    .horizontal-menu {
      cursor: pointer;
    }
    .horizontal-menu-selected {
      color: #108ee9
    }
  }
}