.login {
	.login-content {
		position: relative;
		height: 440px;
		img {
			width: 200px;
			position: relative;
			top: 90px;
			left: 200px;
		}
	}
	.login-area {
		float: right;
		position: relative;
		width: 50%;
		top: 100px;
		padding-left: 150px;
		form {
			width: 50%;
			.login-form {
			  max-width: 300px;
			}
			.login-form-forgot {
			  float: right;
			}
			.login-form-button {
			  width: 100%;
			}
		}
	}
	.register-area {
		float: right;
		position: relative;
		width: 50%;
		top: 30px;
		padding-left: 150px;
		form {
			width: 50%;
			.login-form {
			  max-width: 300px;
			}
			.login-form-forgot {
			  float: right;
			}
			.login-form-button {
			  width: 100%;
			}
		}
	}
	.footer {
		width: 100%;
		bottom: 0;
	}
}
