.header-area {
	background-color: #0C5B79;
	height: 50px;
	.header-row-menu {
    position: relative;
	}
	.menu-col {
		ul {
			background-color: #0C5B79;
			border-bottom: 1px solid #0C5B79;
			li {
				color: #fff;
				font-size: 14px;
			}
		}
	}
	.header-logo {
    img {
  		margin-top: 10px;
  		margin-left: 20px;
      float: left;
  	}
  }
	.header-name {
		margin-top: 12px;
		span {
	    color: #fff;
	    font-size: 18px;
	    font-weight: bold;
	    font-family: cursive;
	    padding-left: 5px;
		}
	}
	.user-login {
		margin-top: 12px;
		color: #fff;
		cursor: pointer;
		font-size: 14px;
	}
	.language-setting {
    margin-top: 12px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    width: 40px;
    text-align: center;
    border: 1px #fff solid;
    line-height: 20px;
    border-radius: 2px;
	}
  .user-image {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    img {
      height: 100%;
      width: 100%;
      border-radius: 100px;
    }
  }
  .ant-menu:not(.ant-menu-horizontal) {
    .ant-menu-item-selected {
      background-color: rgba(55,55,55,.6)!important;
    }
  }
}