.header-area {
	background-color: #0C5B79;
	height: 80px;
	.header-row-menu {
    position: relative;
    top: 15px;
	}
	.menu-col {
		ul {
			background-color: #0C5B79;
			border-bottom: 1px solid #0C5B79;
			li {
				color: #fff;
				font-size: 14px;
			}
		}
	}
	img {
		margin-top: 10px;
		margin-left: 20px;
    float: left;
	}
	.header-name {
		margin-top: 12px;
		span {
	    color: #fff;
	    font-size: 18px;
	    font-weight: bold;
	    font-family: cursive;
	    padding-left: 5px;
		}
	}
	.user-login {
		margin-top: 12px;
		color: #fff;
		cursor: pointer;
		font-size: 14px;
	}
}